extends ../layout

block content
  main.container
    h3 All FAQs
    a(href="admin/faqs/new")
      button New FAQ
    
    table.u-full-width
      thead
        tr
          th #
          th Question
          th Answer
          th Actions
      tbody
        for faq in faqs
          tr
            td #{faq.orderId}
            td #{faq.question}
            td #{faq.answer}
            td 
              a(href="/admin/faqs/#{faq.id}/edit") 
                button Edit
              a(href="/admin/faqs/#{faq.id}/delete")
                button Delete
