extends ../layout

block content
  main.container
    h3 All Services
    a(href="/admin/services/new")
      button New Service
    
    table.u-full-width
      thead
        tr
          th #
          th Name
          th Description
          th Duration
          th Price
          th Actions
      tbody
        for service in services
          tr
            td #{service.orderId}
            td #{service.name}
            td #{service.description}
            td #{service.duration}
            td #{service.price}
            td 
              a(href="/admin/services/#{service.id}/edit") 
                button Edit
              a(href="/admin/services/#{service.id}/delete")
                button Delete
